<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilo/style.css">
    <title>HOME</title>
</head>
<nav>
    <a href="#">Fotos</a>
    <a href="#">Notìcìcia</a>
    <a href="#">Fale Conosco</a>
</nav>

<body>

    <header>
        <h1>
            Antes e o Depois basta passar o mouse!
        </h1>
    </header>
    <section>
        <div id="d1">
            <img src="imagens/iamgem Antes.jpg" alt="sofá sujo">

        </div>

    </section>

</body>
</html>