<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu estofado limpo</title>
    <link rel="shortcut icon" href="/imgens/favicon.ico" type="image/x-icon" />
     <link rel="stylesheet" href="/estilo/style.css">
  </head>
  <body>
    <header>
      <h1>Neste artigo, vamos explicar porque devemos limpar os estofados!</h1>
    </header>

    <main>
      <div class="container">
        <img src="/imagens/foto01.png" alt="" srcset="" />
        <article>
          <h1>Por que é importante fazer a limpeza de estofados?</h1>
          <h3>
            A limpeza dos estofados pode evitar diversas doenças e ainda
            contribui para a beleza do ambiente. Saiba mais a fundo quais são os
            motivos para limpá-los.
          </h3>
          <p>
            Por serem formados por tecidos, os estofados podem acumular
            sujeiras, poeira, ácaros e outros microorganismos prejudiciais à
            saúde. Sendo assim, quando não são limpos, eles são responsáveis por
            crises alérgicas e de asma, por exemplo, o que afeta a saúde de
            idosos e crianças, principalmente.
          </p>
          <h3>Aumenta a vida útil do móvel</h3>
          <p>
            Outro motivo para fazer a limpeza dos estofados é o fato de isso
            aumentar a durabilidade do móvel. Como exemplo, um sofá quando não é
            limpo, acumula manchas e sujeiras de todos os tipos, fazendo com que
            o tecido fique frágil. Assim, é mais provável de aparecer partes
            rasgadas e danificadas.
          </p>
          <aside>
            <h3>Deixa a casa mais bonita e agradável</h3>

            <p>
              Quem não gosta de receber bem uma visita em casa, não é mesmo?
            </p>

            <p>
              E, geralmente, a primeira coisa que fazemos é convidá-la para se
              sentar. Se seu sofá ou cadeira estão sujos, a pessoa pode se
              sentir desconfortável. Bem como você também pode se incomodar com
              essa situação. Além disso, estofados limpos são sinônimo de uma
              casa bonita e sempre com aspecto de nova.
            </p>
          </aside>
        </article>
      </div>
    </main>
    <footer>
      <p>Site Criado Por : Andre Luiz</p>
    </footer>
  </body>
</html>
